<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About Us
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about-us.html"> About Us</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <h1>Why Choose Us</h1>
                <p>
                    We will boost your skills and profile, provide you with personalised career guidance and match you with the right opportunities, so that you can be the Best and the Brightest.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-user"></span>Training and Development </h4>
                    <p>
                        We pride ourselves as being organisational “Doctors.” We help you develop the skills and knowledge of your employees which relates to their specific and useful competencies. This, we are able to achieve by mapping out the training needs of your employees, aligned with the specific goals of the organisation, aimed at improving their capability, productivity and performance. The package we offer has the flexibility of budget, content and duration.This training is classified into three i.e Public Seminars, In- House Training and Management Training Videos.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-license"></span>Professional Service</h4>
                    <p>
                        Our career marketplaces connect professionals with the right opportunities and employers with the right talent to make the recruiting process more efficient for all.Professional service providers have specialized knowledge about niche areas of interest, such as law, marketing or accounting, they allow the customer to focus on core business concerns.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-phone"></span>Great Support and Recruitment </h4>
                    <p>
                        We have years of experience and expertise in what we do. This experience has given us keen insight into the importance of having the right fit for your business. We have industry-leading capabilities to drive efficiency and effectiveness through our comprehensive recruitment processes. We provide the following recruitment services, which is Temporary Placement, Permanent Placement,Borderless Or Unfixed Talent Recruitment
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
                    <p>
                        what recruitment skills every great member of an HR team shares that makes them so effective.

                        Most recruiters share common skills that make them effective at their jobs. These include a combination of hard and soft skills that are either innate to the recruiter’s personality or are learned and honed over time.Soft recruitment skills
                        This family of recruitment skill is closely related to your personality. They’re skills that are part of who you are, and ones that can be leveraged to your advantage in a recruitment environment. Many can also be honed and improved over time with the right effort.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
                    <p>
                        The opportunity is exciting; Ghana is a large country, large working population, and internationally growing. Our long-term goal is simple: to be the ‘go-to’ company for the industry.
                        We don’t only offer job information services, we are here to build careers.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
                    <p>
                        Being able to learn new things at a new job is a great opportunity. Having the ability to learn new things that will help me in the future is a great for my career that i am pursuing. Always having such a great positive attitude towards everything helps out a lot in many ways. Being able to be work as a front desk receptionist is very great.Good Working ambience Good management Best place learn more about recruitment profession. This compay gives you best best and professional lesson for fresher's and even experienced also.The best management and very good response from the clients and management the best organisation to start a carrier.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->
<!-- Start feature Area -->
<section class="feature-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 feat-img no-padding">
                <img class="img-fluid" src="img/pages/f1.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">

                <h1>Who we are</h1>
                <p>
                    The mandate to deliver human resource services that is aimed at total customer satisfaction  been recognized globally. The  company is to lead in innovating the world of work in Africa to improve every LIFE and BUSINESS we come across, with innovative HR solutions. We stand with integrity, customer satisfaction, teamwork, dedication, responsive.
                </p>
            </div>
            <div class="col-lg-3 feat-img no-padding">
                <img class="img-fluid" src="img/pages/f2.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">

                <h1>What we do</h1>
                <p>
                    We offer a wide range of services across a lot of industry sectors through the following offerings; job placement, outsourcing of staff to other companies, training, organisational development, career counselling, grooming, interview preparation, production of management training videos, etc.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
<!-- Start team Area -->
<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Experienced Mentor Team</h1>
                    <p> The Best and the Brightest.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/pages/t1.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Ethel Davis</h4>
                    <p>Managing Director (Sales)</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/pages/t2.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Rodney Cooper</h4>
                    <p>Creative Art Director (Project)</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/pages/t3.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/pages/t4.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Lena Keller</h4>
                    <p>Creative Content Developer</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End team Area -->
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                    <p class="text-white">Our work environment is built on a corporate culture of discipline and values entrepreneurship. At The Job Box, we reward intellectual curiosity and creativity.</p>
                    <a class="primary-btn" href="#">I am a Candidate</a>
                    <a class="primary-btn" href="#">We are an Employer</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->
<!-- Start testimonial Area -->
<section class="testimonial-area section-gap" id="review">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonial from our Clients</h1>
                    <p> The Best and the Brightest.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-review-carusel">
                <div class="single-review">
                    <img src="img/r1.png" alt="">
                    <div class="title d-flex flex-row">
                        <h5>12th June 2018 –(Vicky C, International Training Provider)</h5>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>

                        “We have worked with Anne, Simon and Ashleigh for many years and have always found them to provide an excellent, personalised recruitment service.  They take the time to understand both the role and the specific needs of our business and effectively use their history with us to inform their future candidate selections.  We would have no hesitation in recommending their services.”
                    </p>
                </div>
                <div class="single-review">
                    <img src="img/r2.png" alt="">
                    <div class="title d-flex flex-row">
                        <h5>7th June 2018-(Martin D, National Regulatory Body)</h5>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        “I have happily entrusted all of the recruitment needs of the business to Absolutely Recruitment for many years. They are consistent in fully understanding my requirements as I have steadily expanded the business over time. Simon, our account manager has successfully  placed numerous members of my workforce across a range of departments from marketing and sales, through to compliance and office support. All of whom are still with us today and form key contributors to the company’s successes. I highly recommend Absolutely Recruitment as a recruitment business partner due to their integrity, attention to detail and versatility in effective candidate sourcing.”
                    </p>
                </div>
                <div class="single-review">
                    <img src="img/r1.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>7th June 2018 – (D. M., HR Services Co, Surrey)</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        I have worked with Anne and her Team at the Job Box Recruitment for a number of years, both on the books as a candidate and then subsequently as a client.  The fact that I had been through the vetting, recruitment and post recruitment care personally gave me an insight and all the confidence to be assured that the process and policies used by the Job Box are thorough at robust.  The team take the time to understand my needs as the client, the culture of my organisation and the requirements to provide suitable candidates for interview.  I use Job Box time and time again and taken them with me whenever I change organisations”
                    </p>
                </div>
                <div class="single-review">
                    <img src="img/r2.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->
