
@{
    ViewData["Title"] = "CarierCenter";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Employers
                </h1>
                <p class="text-white link-nav">
                    <a asp-controller="Home" asp-action="Index" asp-area="">Home </a>
                    <span class="lnr lnr-arrow-right"></span><a asp-area="" asp-controller="Home" asp-action="CarierCenter">CarierCenter</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start features Area -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Searching</h4>
                    <p>
                        Find the right Job.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Apply for Job</h4>
                    <p>
                        Search or get recommendations for jobs that match what you're loking for.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Boost your Career</h4>
                    <p>
                        Create a profile, get it to a 100% and immdediately get noticed by the right recruiters
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Be the Excellent Candidate</h4>
                    <p>
                        Get access to career guidance and advice through the "Career Centre" and be exceptional from the rest.
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- End features Area -->

<div class="single-slidebar">
    <h4>Carrer Advice Blog</h4>
    <div class="blog-list">
        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
            <a href="single.html">
                <h5>
                    On Working a Not-Quite-Dream Job<br>
                    The best career or job is the one in which you’re using the skills you enjoy. But, not every job needs to address all of your passions. Use every job as an opportunity to learn something new and keep an open mind; you may find that you really enjoy something you never imagined would appeal to you.
                </h5>
            </a>
            <div class="meta justify-content-between d-flex">
                <p>
                    02 Hours ago
                </p>
                <p>
                    <span class="lnr lnr-heart"></span>
                    06
                    <span class="lnr lnr-bubble"></span>
                    02
                </p>
            </div>
        </div>
        <div class="single-blog " style="background:#000 url(img/blog2.jpg);">
            <a href="single.html"><h6>Don’t take yourself (or your career) too seriously. Plenty of brilliant people started out in jobs they hated, or took paths that weren’t right at the beginning of their careers. Professional development is no longer linear, and trust that with hard work and a dedication to figuring out what you want to do with your life, you, too, will be OK!</h6></a>
            <div class="meta justify-content-between d-flex">
                <p>
                    12 Hours ago
                </p>
                <p>
                    <span class="lnr lnr-heart"></span>
                    06
                    <span class="lnr lnr-bubble"></span>
                    02
                </p>
            </div>
        </div>
        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
            <a href="single.html">
                <h5>
                    Every person you meet is a potential door to a new opportunity—personally or professionally<br>
                    Build good bridges even in that just-for-now job, because you never know how they’ll weave into the larger picture of your life.
                </h5>
            </a>
            <div class="meta justify-content-between d-flex">
                <p>
                    09 Hours ago
                </p>
                <p>
                    <span class="lnr lnr-heart"></span>
                    29
                    <span class="lnr lnr-bubble"></span>
                    09
                </p>
            </div>
        </div>
    </div>
</div>
