@{
    ViewData["Title"] = "Home Page";
}


<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    <span>1500+</span> Jobs posted
                </h1>
                <form action="search.html" class="serach-form-area">
                    <div class="row justify-content-center form-wrap">
                        <div class="col-lg-4 form-cols">
                            <input type="text" class="form-control" name="search" placeholder="what are you looging for?">
                        </div>

                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects">
                                <select>
                                    <option value="1">Select area</option>
                                    <option value="2">Accra</option>
                                    <option value="3">Tema</option>
                                    <option value="4">Kumasi</option>
                                    <option value="5">Cape Coast</option>
                                    <option value="6">Teshie</option>
                                    <option value="7">Tamale</option>
                                    <option value="8">Ashaiman</option>
                                    <option value="9">Koforidua</option>
                                    <option value="10">HO</option>
                                    <option value="11">Madina</option>
                                    <option value="12">Tarkwa</option>
                                    <option value=" 13">Aburi</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects2">
                                <select>
                                    <option value="1"> Job Category </option>
                                    <option value="2">Accounting, Auditing & Finance</option>
                                    <option value="3">Administrative & Office</option>
                                    <option value="4">Agriculture & Farming</option>
                                    <option value="5">Building & Architecture</option>
                                    <option value="6">Community & Social Services</option>
                                    <option value="7">Consulting & Strategy</option>
                                    <option value="8">Creative & Design</option>
                                    <option value="9">Customer Service & Support </option>
                                    <option value="10">Employability & Soft Skills </option>
                                    <option value="11">Engineering </option>
                                    <option value="12">Food Services & Catering</option>
                                    <option value="13">Health & Safety</option>
                                    <option value="14">Hospitality/Leisure/Travel</option>
                                    <option value="15">Human Resources</option>
                                    <option value="16">IT & Software</option>
                                    <option value="17">Legal Services</option>
                                    <option value="18">Management & Business Development</option>
                                    <option value="19">Marketing & Communications</option>
                                    <option value="20">Medical & Pharmaceutical</option>
                                    <option value="21">Natural Sciences</option>
                                    <option value="22">Other</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-cols">
                            <button type="button" class="btn btn-info">
                                <span class="lnr lnr-magnifier"></span> Search
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-white"> <span>Search by tags:</span> Accounting, Auditing & Finance, Administrative & Office, Agriculture & Farming,Building & Architecture, Community & Social Services, Consulting & Strategy, Creative & Design, Customer Service & Support, Employability & Soft Skills, Engineering, Food Services & Catering, Health & Safety,etc</p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start features Area -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Searching</h4>
                    <p>
                        Find the right Job.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Apply for Job</h4>
                    <p>
                        Search or get recommendations for jobs that match what you're loking for.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Boost your Career</h4>
                    <p>
                        Create a profile, get it to a 100% and immdediately get noticed by the right recruiters
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Be the Excellent Candidate</h4>
                    <p>
                        Get access to career guidance and advice through the "Career Centre" and be exceptional from the rest.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features Area -->
<!-- Start popular-post Area -->
<section class="popular-post-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="active-popular-post-carusel">
                <div class="single-popular-post d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/p1.png" alt="">
                        <a class="btns text-uppercase" href="#">view job post</a>
                    </div>
                    <div class="details">
                        <a href="#"><h4>Auditor</h4></a>
                        <h6>AFRAM COMMUNITY BANK</h6>
                        <p>
                            Rest of Ghana (Eastern Region)
                            Full Time
                            GH₵ 4,800 - 5,399
                            ₵ Confidential
                        </p>
                        <p>
                            Job Function:
                            Accounting, Auditing & Finance
                        </p>
                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/p2.png" alt="">
                        <a class="btns text-uppercase" href="#">view job post</a>
                    </div>
                    <div class="details">
                        <a href="#"><h4>Administrative Assistant</h4></a>
                        <h6>Stratcomm Africa</h6>
                        <p>
                            Accra & Tema Region
                            Full Time
                            USD 1,800 - 2,099
                            Job Function: Administrative & Office

                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/p1.png" alt="">
                        <a class="btns text-uppercase" href="#">view job post</a>
                    </div>
                    <div class="details">
                        <a href="#"><h4>Graphic Designer</h4></a>
                        <h6>Accra</h6>
                        <p>
                            A company is in need of a professional graphic designer.
                        </p>
                        <p>
                            Full Time Payment GHS1800- GHS2000.
                        </p>
                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/p2.png" alt="">
                        <a class="btns text-uppercase" href="#">view job post</a>
                    </div>
                    <div class="details">
                        <a href="#"><h4>Python Programmer</h4></a>
                        <h6>Kumasi</h6>
                        <p>
                            Experienced python programmer needed. Entry level:Graduate, Full-time.
                            Payment GHS7,000 - GHS8,000
                        </p>
                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/p1.png" alt="">
                        <a class="btns text-uppercase" href="#">view job post</a>
                    </div>
                    <div class="details">
                        <a href="#"><h4>Legal Officer</h4></a>
                        <h6>Tema</h6>
                        <p>
                            Must have good knowledge and understanding of Company law, Rules & Procedures. Execellent communication, presentation and report writing skills. Full-time. Payment GHS5,000 -GHS6,000.
                        </p>
                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/p2.png" alt="">
                        <a class="btns text-uppercase" href="#">view job post</a>
                    </div>
                    <div class="details">
                        <a href="#"><h4>Senior Solution Architect</h4></a>
                        <h6>Tema</h6>
                        <p>
                            A firm is in need of a Senior Solution Architect.
                        </p>
                        <p>
                            Job Function: Must be responsible for analysing, designing and developing commercially. Fulltime. Payment: GHS6,000 - GHS7,000.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End popular-post Area -->
<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Featured Job Categories</h1>
                    <p>Get the Right Job Vacancies & Careers in Ghana</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="~/img/o1.png" alt="">
                    </a>
                    <p>Accounting, Auditing & Finance</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="~/img/o2.png" alt="">
                    </a>
                    <p>Administrative & Office</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="~/img/o3.png" alt="">
                    </a>
                    <p>IT & Software</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="~/img/o4.png" alt="">
                    </a>
                    <p>Marketing & Communications</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="~/img/o5.png" alt="">
                    </a>
                    <p>Medical & Pharmaceutical</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="~/img/o6.png" alt="">
                    </a>
                    <p>Community & Social Services</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature-cat Area -->
<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <ul class="cat-list">
                    <li><a href="#">Recent</a></li>
                    <li><a href="#">Full Time</a></li>
                    <li><a href="#">Intern</a></li>
                    <li><a href="#">part Time</a></li>
                </ul>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Agriculture, Fishing & Forestry</a>
                            </li>
                            <li>
                                <a href="#">Education </a>
                            </li>
                            <li>
                                <a href="#">Marketing, Sales and Service </a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Food Production Process Supervisor</h4></a>
                                <h6>A Reputable Company</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Function: Supervises activities on the process floor to ensure strict adherence to SOP for all process points and to optimize personnel output for maximum productivity.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span> Rest of Ghana (Eastern Region)</p>
                        <p class="address"><span class="lnr lnr-database"></span>GHS 2000 - 2600</p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Art</a>
                            </li>
                            <li>
                                <a href="#">Media</a>
                            </li>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>

                                <a href="#">Technology</a>

                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Creative Art Designer</h4></a>
                                <h6>Premium Labels Limited</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            A reputable construction company needs the services of Creative Art Designer with a strong knowledge of visualization through sketches, drawing and illustrations.Must oversee esign chnages and improvements throughout the development process.
                            Anonymous Employer

                        </p>

                        <h5>Job Nature: Full time</h5>
                        <p class="address">
                            <span class="lnr lnr-map"></span> Accra, Tema, Kumasi, Cape Coast & Tarkwa
                        </p>
                        <p class="address"><span class="lnr lnr-database"></span>GHS1400 - 2000 </p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Sales and Services</a>
                            </li>
                            <li>
                                <a href="#">Logistics</a>
                            </li>
                            <li>
                                <a href="#">Design</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Facilities Specialist </h4></a>
                                <h6>
                                    Compassion International Ghana
                                    NGO
                                </h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>

                        Employability & Soft Skills
                       
                        <p>
                            Job Summary:This experienced specialist performs all aspects of facility planning, including space use, equipment installation and maintenance, remodels, and expansion.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>Accra & Tema Region </p>
                        <p class="address"><span class="lnr lnr-database"></span> Salary is Confidential
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Creative & Design </a>
                            </li>
                            <li>
                                <a href="#">Education </a>
                            </li>
                            <li>
                                <a href="#">Specialist </a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Creative Art Designer</h4></a>
                                <h6>A Reputable Firm</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Graphic Designer Needed.
                        </p>
                        Job Summary: Create visual concepts, by hand or using computer software, to communicate ideas that inspire, inform, or captivate consumers.

                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr-database"></span> Salary is Confidental </p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Ceative &  Design </a>
                            </li>
                            <li>
                                <a href="#">Education</a>
                            </li>
                            <li>
                                <a href="#">Administrative </a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4> School Secretary</h4></a>
                                <h6>A Reputable School</h6>
                                <h6>Research, Teaching & Training</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Summary: Schedule appointments, answer phones and give administrative support to teachers and school officials.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr-database"></span>Salary is Confidental</p>
                    </div>
                </div>


                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="~/img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Agriculture,Food & Natural Resources</a>
                            </li>
                            <li>
                                <a href="#">Media & Technology </a>
                            </li>
                            <li>
                                <a href="#">Administration</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Human Resource Manager</h4></a>
                                <h6>M-TES Construction and Engineering Limited Engineering</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Summary:
                            Developing and administering human resources plans and procedures that relate to company personnel
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span> Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr-database"></span> GHS 1,500 - 1,799</p>
                    </div>
                </div>

                <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>

            </div>
            <div class="col-lg-4 sidebar">
                <div class="single-slidebar">
                    <h4>Jobs by Location</h4>
                    <ul class="cat-list">
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Accra</p><span>187</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Kumasi</p><span>157</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Tarkwa</p><span>33</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Cape Coast</p><span>79</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Koforidua</p><span>47</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>HO</p><span>27</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Tamale</p><span>27</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Ashaiman</p><span>27</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Aburi</p><span>45</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Tema</p><span>47</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Teshie</p><span>87</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Madina</p><span>37</span></a></li>
                    </ul>
                </div>

                <div class="single-slidebar">
                    <h4>Top rated job posts</h4>
                    <div class="active-relatedjob-carusel">
                        <div class="single-rated">
                            <img class="img-fluid" src="~/img/r1.jpg" alt="">
                            <a href="single.html"><h4>Superintendent Pharmacist</h4></a>
                            <h6>Health Lane </h6>
                            <h6>Medical & Pharmaceutical</h6>
                            <p>
                                Job Summary:
                                Liasing and interfacing with external bodies and agencies on healthcare and medicinal matters.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> Accra & Tema Region</p>
                            <p class="address"><span class="lnr lnr-database"></span> Salary is Confidental </p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="~/img/r1.jpg" alt="">
                            <a href="single.html">
                                <h4>
                                    Customer Service Representative - Internet & Telecommunications
                                </h4>
                            </a>
                            <h6>
                                Anonymous Employer</h6>
                                <h6>Customer Service & Support</h6>
                                <p>
                                    Job Summary:
                                    A customer Service Person wanted for Employment at Nexmos SMS Solutions.
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span> Accra & Tema Region</p>
                                <p class="address"><span class="lnr lnr-database"></span>GHS 900 - 1,199</p>
                                <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="~/img/r1.jpg" alt="">
                            <a href="single.html"><h4>C#/.Net Developer</h4></a>
                            <h6>Adaptive Computer Solutions Ghana Limited</h6>
                            <p>
                                Job Summary:
                                A senior C# developer is needed to led the development of web applications, APIs and other applications for large corporate customers.

                                <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> Accra & Tema Region</p>
                            <p class="address"><span class="lnr lnr-database"></span> Salary is Confidental</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                    </div>
                </div>

                <div class="single-slidebar">
                    <h4>Jobs by Category</h4>
                    <ul class="cat-list">
                        <li><a class="justify-content-between d-flex" href="Job Category.html"><p>Accounting, Auditing & Finance</p><span>237</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Administrative & Office</p><span>257</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Agriculture & Farming</p><span>133</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Building & Architecture</p><span>136</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Community & Social Services</p><span>447</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Consulting & Strategy</p><span>127</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Creative & Design</p><span>100</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Customer Service & Support</p><span>119</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Employability & Soft Skills</p><span>98</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Engineering</p><span>317</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Food Services & Catering</p><span>117</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Hospitality/Leisure/Travel</p><span>96</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Human Resources</p><span>97</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>IT & Software</p><span>117</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Legal Services</p><span>77</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Management & Business Development</p><span>77</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Marketing & Communications</p><span>112</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Medical & Pharmaceutical</p><span>87</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Natural Sciences</p><span>74</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Others</p><span>87</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Project & Product Management</p><span>45</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Quality Control & Assurance</p><span>56</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Real Estate & Property Management</p><span>80</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Research, Teaching & Training</p><span>70</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Sales</p><span>97</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Security</p><span>87</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Supply Chain & Procurement</p><span>99</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Trades & Services</p><span>109</span></a></li>
                        <li><a class="justify-content-between d-flex" href="JOb category.html"><p>Transport & Logistics</p><span>104</span></a></li>
                    </ul>
                </div>

                <div class="single-slidebar">
                    <h4>Carrer Advice Blog</h4>
                    <div class="blog-list">
                        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                            <a href="single.html">
                                <h5>
                                    On Working a Not-Quite-Dream Job<br>
                                    The best career or job is the one in which you’re using the skills you enjoy. But, not every job needs to address all of your passions. Use every job as an opportunity to learn something new and keep an open mind; you may find that you really enjoy something you never imagined would appeal to you.
                                </h5>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    02 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    06
                                    <span class="lnr lnr-bubble"></span>
                                    02
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(img/blog2.jpg);">
                            <a href="single.html"><h6>Don’t take yourself (or your career) too seriously. Plenty of brilliant people started out in jobs they hated, or took paths that weren’t right at the beginning of their careers. Professional development is no longer linear, and trust that with hard work and a dedication to figuring out what you want to do with your life, you, too, will be OK!</h6></a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    12 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    06
                                    <span class="lnr lnr-bubble"></span>
                                    02
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                            <a href="single.html">
                                <h5>
                                    Every person you meet is a potential door to a new opportunity—personally or professionally<br>
                                    Build good bridges even in that just-for-now job, because you never know how they’ll weave into the larger picture of your life.
                                </h5>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    09 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    29
                                    <span class="lnr lnr-bubble"></span>
                                    09
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End post Area -->
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                    <p class="text-white">Post all your jobs, edit your posts, contact applicants, saved preferred jobseeker profiles, forever. All in one place!</p>
                    <a class="primary-btn" href="#">I am a Candidate</a>
                    <a class="primary-btn" href="#">Job Seeker</a>
                    <a class="primary-btn" href="#"> Employer </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->
<!-- Start download Area -->
<section class="download-area section-gap" id="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 download-left">
                <img class="img-fluid" src="~/img/d1.png" alt="">
            </div>
            <div class="col-lg-6 download-right">
                <h1>
                    Download the <br>
                    the Job Box and its offers
                </h1>
                <p class="subs">
                    Instant Job recruitment, Instant Job Application,SMS and Email Alerts, Working contact form with validation
                </p>
                <div class="d-flex flex-row">
                    <div class="buttons">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="#">
                                <p>
                                    <span>Available</span> <br>
                                    on App Store
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="buttons">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="#">
                                <p>
                                    <span>Available</span> <br>
                                    on Play Store
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End download Area -->