<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Job Category
                </h1>
                <p class="text-white link-nav"><a asp-area="" asp-controller="Home" asp-action="Index">Home </a> <span class="lnr lnr-arrow-right"></span><a asp-area="" asp-action="JobCategory" asp-controller="Home">Job Category</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Accounting, Auditing & Finance</a>
                            </li>
                            <li>
                                <a href="#">Administrative & Office</a>
                            </li>
                        <li>
                            <a href="#">Employability & Soft Skills</a>
                        </li>
                        </ul>

                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Financial Consultants</h4></a>
                                <h6>A Reputable Company</h6>
                                <h6>Accounting, Auditing & Finance</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Recruitment of Financial consultants for a reputable company.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span> Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr-database"></span> Salary is Confidental </p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Building & Architecture</a>
                            </li>
                            <li>
                                <a href="#">Community & Social Services</a>
                            </li>
                            <li>
                                <a href="#">Consulting & Strategy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Quantity Surveyo</h4></a>
                                <h6>A Reputable Company </h6>
                                <h6> Building & Architecture </h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Summary
                            Responsible for managing all aspects of the contractual and financial side of construction projects
                        </p>

                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>Accra & Tema Region </p>
                        <p class="address"><span class="lnr lnr-database"></span> Salary is confidental </p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Creative & Design</a>
                            </li>
                            <li>
                                <a href="#">Customer Service & Support</a>
                            </li>
                            <li>
                                <a href="#">Engineering</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Graphic Designer</h4></a>
                                <h6>A Reputable Company</h6>
                                <h6>Creative & Design</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Summary
                            Graphic designers create visual concepts, by hand or using computer software, to communicate ideas that inspire, inform, or captivate consumers.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>  Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr-database"></span> Salary is Confidental </p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">Food Services & Catering</a>
                            </li>
                            <li>
                                <a href="#">Health & Safety</a>


                            <li>
                                <a href="#">Hospitality/Leisure/Travel</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Warehouse Supervisor</h4></a>




                                Retail, Fashion & FMCG

                                <h6>A Reputable Company</h6>
                                <h6>Food Services & Catering</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Summary: A leading brand in cake decorating supplies has vacancy for a warehouse supervisor.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span> Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr- map"></span>Retail, Fashion & FMCG</p>
                        <p class="address"><span class="lnr lnr-database"></span>Salary is Confidental </p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="img/post.png" alt="">
                        <ul class="tags">
                            <li>


                                <a href="#">Human Resources</a>
                            </li>
                            <li>
                                <a href="#">IT & Software</a>
                            </li>
                            <li>
                                <a href="#">Legal Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Head of Human Resource</h4></a>
                                <h6>Axis Pension Trust Ltd.</h6>
                                <h6> Human Resources</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Summary
                            The ideal candidate will provide overall leadership and direction to the Human Resources Management functions and activities and ensure that these are effectively and efficiently managed and deliver high quality service to support business plan and priorities.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr-database"></span> Salary is Confidental </p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">IT & Software</a>
                            </li>
                            <li>
                                <a href="#">Legal Services</a>
                            </li>
                            <li>
                                <a href="#">Management & Business Development</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Technical Director</h4></a>
                                <h6>Anonymous Employer</h6>
                                <h6>IT & Software</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Job Summary
                            They will help to develop and build the product portfolio of the company as well as research and development.
                        </p>
                        <h5>Job Nature: Part time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>Rest of Ghana (Eastern Region) </p>
                        <p class="address"><span class="lnr lnr-database"></span> Salary is Confidental</p>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="img/post.png" alt="">
                        <ul class="tags">
                            <li>
                                <a href="#">IT & Software</a>
                            </li>
                            <li>
                                <a href="#">Legal Services</a>
                            </li>
                        <li>
                            <a href="#">Management & Business Development</a>
                        </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>Senior Back-End Software Developer</h4></a>
                                <h6>KNG Technologies</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                            Senior Backend Software Developer for mobile app development company.
                        </p>
                        <h5>Job Nature: Full time</h5>
                        <p class="address"><span class="lnr lnr-map"></span>Accra & Tema Region</p>
                        <p class="address"><span class="lnr lnr-database"></span> Salray is confidental </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 sidebar">
                <div class="single-slidebar">
                    <h4>Jobs by Location</h4>
                    <ul class="cat-list">
                        <li><a class="justify-content-between d-flex" href="category.html"><p>New York</p><span>37</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Park Montana</p><span>57</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Atlanta</p><span>33</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Arizona</p><span>36</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Florida</p><span>47</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Rocky Beach</p><span>27</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Chicago</p><span>17</span></a></li>
                    </ul>
                </div>

                <div class="single-slidebar">
                    <h4>Top rated job posts</h4>
                    <div class="active-relatedjob-carusel">
                        <div class="single-rated">
                            <img class="img-fluid" src="img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                    </div>
                </div>

                <div class="single-slidebar">
                    <h4>Jobs by Category</h4>
                    <ul class="cat-list">
                        <li><a class="justify-content-between d-flex" href="Job Category.html"><p>Accounting, Auditing & Finance</p><span>237</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Administrative & Office</p><span>257</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Agriculture & Farming</p><span>133</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Building & Architecture</p><span>136</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Community & Social Services</p><span>447</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Consulting & Strategy</p><span>127</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Creative & Design</p><span>100</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Customer Service & Support</p><span>119</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Employability & Soft Skills</p><span>98</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Engineering</p><span>317</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Food Services & Catering</p><span>117</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Hospitality/Leisure/Travel</p><span>96</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Human Resources</p><span>97</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>IT & Software</p><span>117</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Legal Services</p><span>77</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Management & Business Development</p><span>77</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Marketing & Communications</p><span>112</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Medical & Pharmaceutical</p><span>87</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Natural Sciences</p><span>74</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Others</p><span>87</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Project & Product Management</p><span>45</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Quality Control & Assurance</p><span>56</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Real Estate & Property Management</p><span>80</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Research, Teaching & Training</p><span>70</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Sales</p><span>97</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Security</p><span>87</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Supply Chain & Procurement</p><span>99</span></a></li>
                        <li><a class="justify-content-between d-flex" href="Job category.html"><p>Trades & Services</p><span>109</span></a></li>
                        <li><a class="justify-content-between d-flex" href="JOb category.html"><p>Transport & Logistics</p><span>104</span></a></li>
                    </ul>
                </div>

                <div class="single-slidebar">
                    <h4>Carrer Advice Blog</h4>
                    <div class="blog-list">
                        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                            <a href="single.html">
                                <h4>
                                    Building a successful career means you are armed with the rigth information to help you find and land a job.<br>
                                    without doubt offers premier resource for helping passionate, creative professionals learn how to find meaningful and rewarding work
                                </h4>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    12 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    46
                                    <span class="lnr lnr-bubble"></span>
                                    08
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(img/blog2.jpg);">
                            <a href="single.html">
                                <h4>
                                    Every person you meet is a potential door to a new opportunity—personally or professionally<br>
                                    <br>
                                    Build good bridges even in that just-for-now job, because you never know how they’ll weave into the larger picture of your life.
                                </h4>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    16 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    09
                                    <span class="lnr lnr-bubble"></span>
                                    11
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                            <a href="single.html">
                                <h4>
                                    Professional development is no longer linear, and trust that with hard work and a dedication to figuring out  <br>
                                    what you want to do with your life, you, too, will be OK!
                                </h4>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    02 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    06
                                    <span class="lnr lnr-bubble"></span>
                                    02
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End post Area -->
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <a class="primary-btn" href="#">I am a Candidate</a>
                    <a class="primary-btn" href="#">Request Free Demo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->	